

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 54, ../sass/app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 57, ../sass/app.scss */
a {
  color: #19bc9c;
  text-decoration: none; }

/* line 62, ../sass/app.scss */
body {
  background: #eff3f3;
  color: #2c3e50;
  font-family: "adelle", Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 29px; }

/* line 70, ../sass/app.scss */
h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-size: inherit;
  margin: 3% 0; }

/* line 75, ../sass/app.scss */
h1, h2, h3, h4 {
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 90, ../sass/app.scss */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 3%; }
  @media (max-width: 715px) {
    /* line 90, ../sass/app.scss */
    h3 {
      font-size: 1.4em; } }


/* line 106, ../sass/app.scss */
em {
  font-style: italic; }


/* line 130, ../sass/app.scss */
.green {
  color: #2ecc71; }

  .control-hint {
    margin: 0 auto; 
  }

  .control-hint p {
      background: #2c3e50;
      color: white;
      margin: 0 auto;
      padding: 15px 0;
      margin: 0 auto 2%;
      position: relative;
      text-align: center;
      width: 55%;
      z-index: 5;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      border-radius: 50px; }